<%= form_for(@preco_servico) do |f| %>
  <% if @preco_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preco_servico.errors.count, "erro") %>:</h2>

      <ul>
      <% @preco_servico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :produto %>
    <%= collection_select(:preco_servico, :produto, Produto.order('tipo'), :tipo, :tipo, options ={:prompt =>
"", :value => nil}, {:id => "produto_preco_selection"}) %>
  </div>
  <div class="field" id="analise_collection_select", :remote >
    <%= f.label "Análise" %>
    <%= collection_select(:preco_servico, :analise, TipoAnalise.order('tipo'), :tipo, :tipo, options ={:prompt =>""}, {:id => "analise_preco_selection"}) %>
  </div>  
  <div class="field" id="analise_collection_select", :remote >
    <%= f.label "Parâmetro" %>
    <%= collection_select(:preco_servico, :parametro, @parametros_preco, :nome, :nome,{}, {:id => "parametro_preco_selection"}) %>
  </div>  
  
  <div class="field" >
    <%= f.label "Preço" %>
    <!--<%= f.text_field :preco, data: {autonumeric: {dGroup: '9', aDec: ',', aSep: '.'}} %>-->
    <%= f.text_field :preco, :id => "preco" %>    

  </div>

  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-info', :id => "botaoSalvarPreco" %>
  </div>
<% end %>

<script type="text/javascript">
  document.getElementById("botaoSalvarPreco").disabled = true; 

  jQuery(function($) {  
  $("#produto_preco_selection").change(function() {          
      var produto = $('SELECT#produto_preco_selection :selected').val();            
      if(produto == null)    
        produto = ""

      var analise = $('SELECT#analise_preco_selection :selected').val();      
      if(analise == null)    
        analise = ""
     
        $.get('/preco_servicos/get_analises/' + produto , function(data){               
           $("#analise_preco_selection").html(data);
        })
        
        if (analise != ""){
          $.get('/preco_servicos/get_parametros_preco/' + produto + '/' + analise, function(data){               
             $("#parametro_preco_selection").html(data);
          })
        }

      return false;
    });

  $("#analise_preco_selection").change(function() {    
      var produto = $('SELECT#produto_preco_selection :selected').val();      
      if(produto == null)    
        produto = ""

      var analise = $('SELECT#analise_preco_selection :selected').val();      
      if(analise == null)    
        analise = ""
     
        $.get('/preco_servicos/get_parametros_preco/' + produto + '/' + analise, function(data){             
           $("#parametro_preco_selection").html(data);
        })
      return false;
    });




})
</script>
