<br /><br /><br /><br />
<legend>Editar preço</legend>

<%= form_for(@preco_servico) do |f| %>
  <% if @preco_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preco_servico.errors.count, "erro") %>:</h2>

      <ul>
      <% @preco_servico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :produto %>
    <%= collection_select(:preco_servico, :produto, Produto.order('tipo'), :tipo, :tipo, {}, {:disabled => 'disabled'}) %>
  </div>
  <div class="field" >
    <%= f.label "Análise" %>
    <%= collection_select(:preco_servico, :analise, TipoAnalise.order('tipo'), :tipo, :tipo, {}, {:disabled => 'disabled'}) %>
  </div>
  <div id="parametro-select">    
  	<%= f.label "Parâmetro" %>
  	<%= collection_select(:preco_servico, :parametro, Parametro.order('nome'), :nome, :nome, {}, {:disabled => 'disabled'}) %>
  </div>  
  <div class="field">
    <%= f.label "Preço" %>
    <%= f.text_field :preco, data: {autonumeric: {dGroup: '9', aDec: ',', aSep: '.'}} %>
  </div>
  <div class="field">
    <%= f.label "Legislação" %>
    <%= f.text_field :legislacao %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-info' %>
  </div>
<% end %>


<%= link_to 'Detalhes', @preco_servico, :class => 'btn btn-info' %>
<%= link_to 'Voltar', preco_servicos_path, :class => 'btn btn-info' %>

<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>