 <!-- Row start -->
 <div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          <span class="text-error">Preço do Serviço</span>
        </div>
      </div>
      <div class="widget-body">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>
                <strong>Análise:</strong>
              </td>
              <td>
                <%= @preco_servico.analise %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Parâmetro:</strong>
              </td>
              <td>
                <%= @preco_servico.parametro %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Produto:</strong>
              </td>
              <td>
                <%= @preco_servico.produto %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Preço:</strong>
              </td>
              <td>
                R$ <%= number_to_currency(@preco_servico.preco, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
              </td>
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>  

</div>
<%= link_to t('botoes.voltar'), "javascript:history.go(-1)", class: 'btn btn-info'%>
 <!-- Row end -->
