<br /><br /><br /><br />
<legend>Parâmetros cadastrados</legend>

<table cellpadding="0" cellspacing="0" border="1" class="table-striped table-bordered" id="tabela" width="95%">
  <thead>
    <tr>
      <th width="20%" style="word-wrap:break-word;"><center>Nome</center></th>
      <th width="28%" style="word-wrap:break-word;"><center>Referência</center></th>
      <th width="28%" style="word-wrap:break-word;"><center>Método</center></th>
      <th width="15%" style="word-wrap:break-word;"><center>Valor de Referência</center></th>    
      <th width="5%" style="word-wrap:break-word;"><center></center></th>
      <!--th width="5%" style="word-wrap:break-word;"><center></center></th-->
      <% if user_is_administrador? %>
        <th width="5%" style="word-wrap:break-word;"><center></center></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @parametros.each do |parametro| %>
      <tr>
        <td><center><%= parametro.nome %></center></td>
        <td><center><%= parametro.referencia %></center></td>
        <td><center><%= parametro.metodo %></center></td>
        <td><center><%= parametro.valor_referencia %></center></td>        
        <!--td width="5%" style="word-wrap:break-word;"><center><%= link_to 'Detalhes', parametro %></center></td-->
        <td><center><%= link_to 'Editar', edit_parametro_path(parametro), :class => 'btn btn-small' %></center></td>
        <% if user_is_administrador? %>
          <td style="word-wrap:break-word;"><center><%= link_to 'Excluir', parametro, method: :delete, :class => 'btn btn-small', data: { confirm: "Você realmente deseja excluir o parâmetro #{parametro.nome}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Parâmetro', new_parametro_path, :class => 'btn btn-info' %>


<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>