 <!-- Row start -->
 <div class="row">
 	<div class="col-lg-6">
 		<div class="widget">
 			<div class="widget-header">
 				<div class="title">
 					<span class="text-error">Parâmetro</span>
 				</div>
 			</div>
 			<div class="widget-body">
 				<table class="table table-striped table-hover">
 					<tbody>
 						<tr>
 							<td>
 								<strong>Nome:</strong>
 							</td>
 							<td>
 								<%= @parametro.nome %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>Referência:</strong>
 							</td>
 							<td>
 								<%= @parametro.referencia %>
 							</td>
 						</tr> 
 						<tr>
 							<td>
 								<strong>Método:</strong>
 							</td>
 							<td>
 								<%= @parametro.metodo %>
 							</td>
 						</tr> 
 						<tr>
 							<td>
 								<strong>Valor de Referência:</strong>
 							</td>
 							<td>
 								<%= @parametro.valor_referencia %>
 							</td>
 						</tr>  						
 					</tbody>
 				</table>
 			</div>
 		</div>
 	</div> 	

</div>
<%= link_to t('botoes.voltar'), "javascript:history.go(-1)", class: 'btn btn-info'%>
 <!-- Row end -->
