<!-- Row start -->
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <%= render partial: 'layouts/forms/error', locals: {modelo: @orcamento} %>

        <div class="widget-body expose" style="display:none" id="the_wizard">
          
          <%= form_for(@orcamento, html: {class: 'form-horizontal', role: 'form', id: 'orcamento_form'})  do |f| %>

          <!-- wizard start-->

            <%if @is_new_or_create %>
                <%= render partial:'layouts/wizard/wizard_header', locals: {steps:orcamento_wizard_steps_new}%>
              <%else%>
                <%= render partial:'layouts/wizard/wizard_header', locals: {steps:orcamento_wizard_steps}%>
              <%end%>           

            <!-- painel wizard start-->
            <div>
                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Identificador*", :class=>"col-lg-4 control-label" %>
                      <div class="col-lg-4">
                        <%= f.text_field :numero, :id => "num_orcamento", :class=>"form-control" %>
                      </div>                      
                                                        
                      <%= f.label :data, :class=>"col-lg-1 control-label" %>                
                      <div class="col-lg-3">
                        <%= f.text_field :data, :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div> 

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Pessoa Solicitante", :class=>"col-lg-4 control-label" %>                                  
                      <div class="col-lg-8">
                        <%= f.text_field :pessoa_solicitante, :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div> 

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Empresa Solicitante", :class=>"col-lg-4 control-label" %>                         
                      <div class="col-lg-8">
                        <%= f.text_field :empresa_solicitante, :id => "empresa", :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div> 

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label :telefone, :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-8">
                        <%= f.text_field :telefone, :id => "telefone", :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div> 

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label :email, :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-8">
                        <%= f.text_field :email, :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div> 

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Observações", :class=>"col-lg-4 control-label" %>                                
                      <div class="col-lg-8">
                        <%= f.text_area :observacao, :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div> 
                  <div class="form-group">
                    <div class="col-lg-offset-10 col-lg-2">
                      <% if not @is_new_or_create %>
                        <input type="button" class="btn btn-info btn-block" value="Próximo" onClick="wizard_next()"/>
                      <% end %>
                        <%= f.submit "Salvar", :class => 'btn btn-success btn-block', :id => "submit" %>
                    </div>
                  </div>
            </div>
            <!-- end -->  

            <!-- painel wizard start-->
            <div> 
              <%= f.hidden_field(:id, :value => @orcamento.id, :id=>"id_orcamento" ) %>
              <%= render partial: 'layouts/panel/two_sides' %>
              <div class="form-group">
                    <div class="col-lg-2">
                      <input type="button" class="btn btn-info btn-block" value="Voltar" onClick="wizard_previous()"/>
                    </div>
                    <div class="col-lg-offset-8 col-lg-2">                      
                        <input type="button" class="btn btn-info btn-block" value="Próximo" onClick="wizard_next()"/>
                      <%= f.submit "Salvar", :class => 'btn btn-success btn-block', :id => "submit" %>
                    </div>
              </div>


            </div>
            <!-- end -->

            <!-- painel wizard start-->
            <div>
              <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label :quantidade, :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-2">
                        <%= f.text_field :quantidade, :class=>"form-control" %>
                      </div>  

                      <%= f.label :prazo, :class=>"col-lg-1 control-label" %>                                 
                      <div class="col-lg-4">
                        <%= f.text_field :prazo, :class=>"form-control" %>
                      </div>  
                    </div> 
                  </div>

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Desconto (%)", :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-2">
                        <%= f.number_field :desconto, :class=>"form-control", :min => 0, :max =>100 %>
                      </div>  
                    </div> 
                  </div>

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "IR", :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-2">
                        <%= f.text_field :ir, :class=>"form-control", :readonly => 'true' %>
                      </div>  

                      <%= f.label "PIS", :class=>"col-lg-1 control-label" %>                                 
                      <div class="col-lg-2">
                        <%= f.text_field :pis, :class=>"form-control", :readonly => 'true' %>
                      </div>  
                    </div> 
                  </div>

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "CSSL", :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-2">
                        <%= f.text_field :cssl, :class=>"form-control", :readonly => 'true' %>
                      </div>  

                      <%= f.label "COFINS", :class=>"col-lg-1 control-label" %>                                 
                      <div class="col-lg-2">
                        <%= f.text_field :cofins, :class=>"form-control", :readonly => 'true' %>
                      </div>  
                    </div> 
                  </div>

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Total a Pagar", :class=>"col-lg-4 control-label", :style=>"color: red;" %>                                 
                      <div class="col-lg-2">
                        <%= f.text_field :total_pagar, :class=>"form-control", :readonly => 'true' %>
                      </div>  
                    </div> 
                  </div>

                  <%= f.hidden_field :valor_bruto, :id => "total_bruto" %>                  

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label "Forma de Pagamento", :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-4">
                        <%= f.select(:pagamento, {'Boleto Bancário' => "Boleto Bancário", 'Depósito/Transferência' => 'Depósito/Transferência'}, {}, {class: 'form-control'}) %>                                              
                      </div>  
                    </div> 
                  </div>

                  <div class="form-group">
                    <div class="col-lg-7">
                      <%= f.label :status, :class=>"col-lg-4 control-label" %>                                 
                      <div class="col-lg-4">
                        <%= f.select(:status, {'Aceito' => "Aceito", 'Não Aceito' => 'Não Aceito'}, {}, {class: 'form-control'}) %>                                             
                      </div>  
                    </div> 
                  </div>

                  <div class="form-group">
                    <div class="col-lg-2">
                      <input type="button" class="btn btn-info btn-block" value="Voltar" onClick="wizard_previous()"/>
                    </div>
                    <div class="col-lg-offset-8 col-lg-2">                      
                      <%= f.submit "Salvar", :class => 'btn btn-success btn-block', :id => "submit" %>
                    </div>
              </div>

              </div>
            <!-- end -->
              
            <%= render 'layouts/wizard/wizard_tail'%>
          <!-- wizard end -->

          <% end %>

          </div>
      </div>
    </div>
  </div>