<script>


document.getElementById("addButtonServico").disabled = true; 



jQuery(function($) {  

    $(".produto_seletor").change(function(){

      ClickedElement = this.id;      
       var id_number = +ClickedElement.substring(40,53);      

      var produto = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_produto :selected').val();
      if(produto == null)    
        produto = ""

      var analise = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_analise :selected').val();      
      if(analise == null)    
        analise = ""    

       $.get('/orcamentos/get_analises/' + produto , function(data){               
           $("#orcamento_servico_orcamentos_attributes_" + id_number + "_analise").html(data);           
        })

       if (analise != ""){
          $.get('/orcamentos/get_parametros/' + produto + '/' + analise, function(data){               
             $('#orcamento_servico_orcamentos_attributes_' + id_number + '_parametro').html(data);
          })
        }


      return false;

    });


  $(".analise_seletor").change(function() {    


       ClickedElement = this.id;      
       var id_number = +ClickedElement.substring(40,53); 

      var produto = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_produto :selected').val();      
      if(produto == null)    
        produto = ""

      var analise = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_analise :selected').val();      
      if(analise == null)    
        analise = ""
     
        $.get('/orcamentos/get_parametros/' + produto + '/' + analise, function(data){             
           $('#orcamento_servico_orcamentos_attributes_' + id_number + '_parametro').html(data);
        })

      return false;
    });

    $(".parametro_seletor").change(function() {         

       ClickedElement = this.id;             
       var id_number = +ClickedElement.substring(40,53); 

      var produto = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_produto :selected').val();      
      if(produto == null)    
        produto = ""

      var analise = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_analise :selected').val();      
      if(analise == null)    
        analise = ""

      var parametro = $('SELECT#orcamento_servico_orcamentos_attributes_' + id_number + '_parametro :selected').val();      
      if(parametro == null)    
        parametro = ""
     
        $.get('/orcamentos/get_valor_unitario/' + produto + '/' + analise + '/' + parametro + '/' + id_number, function(data){          
           $('#orcamento_servico_orcamentos_attributes_' + id_number + '_valor_unitario').html(data).change();           
        })

        
      return false;
    });

    $(".valor_unitario").change(function() {            

      ClickedElement = this.id;             
       var id_number = +ClickedElement.substring(40,53); 

       var valor_unitario = $('INPUT#orcamento_servico_orcamentos_attributes_' + id_number + '_valor_unitario').val();      
      if(valor_unitario == null)    
        valor_unitario = ""  

      var qtd_amostra = $('INPUT#orcamento_servico_orcamentos_attributes_' + id_number + '_qtd_amostra').val();      
      if(qtd_amostra == null)    
        qtd_amostra = ""  
     
      $.get('/orcamentos/get_valor_total/' + valor_unitario + '/' + id_number + '/' + qtd_amostra, function(data){
           $('#orcamento_servico_orcamentos_attributes_' + id_number + '_valor_total').html(data);
        })
      addAll();

      return false; 
      
    });

    

  $(".quantidade").on("input",function() {            

       ClickedElement = this.id;             
       var id_number = +ClickedElement.substring(40,53); 

       var valor_unitario = $('INPUT#orcamento_servico_orcamentos_attributes_' + id_number + '_valor_unitario').val();      
      if(valor_unitario == null)    
        valor_unitario = ""  

      var qtd_amostra = $('INPUT#orcamento_servico_orcamentos_attributes_' + id_number + '_qtd_amostra').val();      
      if(qtd_amostra == null)    
        qtd_amostra = ""  
     
      $.get('/orcamentos/get_valor_total/' + valor_unitario + '/' + id_number + '/' + qtd_amostra, function(data){
           $('#orcamento_servico_orcamentos_attributes_' + id_number + '_valor_total').html(data);
        })
      addAll();

      return false;
    });




});


</script>


<div id="new-servico-orcamento-fields" class="modal fade" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >x</button>
    <legend>Adicionar Serviço</legend>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="control-group" >
        <%= "Produto" %>
        <div class="controls1"  >
          <%= f.collection_select(:produto, PrecoServico.group('produto'), :produto, :produto, options ={:prompt =>
""}, {:class => "produto_seletor"}) %>        

        </div>        
      </div>  

      <div class="control-group">
        <%= "Tipo Análise" %>
        <div class="controls"  >
          <%= f.collection_select(:analise, @analises, :tipo, :tipo, options ={:prompt =>""}, {:class => "analise_seletor"}) %>   

        </div>        
      </div>      

      <div class="control-group">
        <%= "Parâmetro" %>
        <div class="controls">
          <%= f.collection_select(:parametro, @parametros, :nome, :nome, options ={:prompt =>
""}, {:class => "parametro_seletor"}) %>

        </div>        
      </div>

      <div class="control-group">
        <%= "N° de Amostras" %>
        <div class="controls">
          <%= f.text_field(:qtd_amostra, :presence => { :message => " precisa ser preenchido."}, :class => "quantidade", :style=>"width:80px;", :onfocus => "limpa()", :onblur => "zera()" ) %>
        </div>
      </div>     

      <div class="control-group">
        <%= "Valor Unitário" %>
        <div class="controls">
          <%= f.text_field(:valor_unitario, :value => @preco_unitario, :class => "valor_unitario", :readonly => true, :style=>"width:80px;") %>          
        </div>
      </div>  

      <div class="control-group">
        <%= "Valor Total" %>
        <div class="controls">
          <%= f.text_field(:valor_total, :value => @preco_total, :class => "valor_total", :readonly => true, :style=>"width:80px;") %>          
        </div>
      </div>  
      
      

  </div>
  <div class="modal-footer">
    <button id="addButtonServico" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" >Adicionar</button>
    <button id="cancelButtonServico" type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancelar</button>
  </div>
</div>

<script type="text/javascript">
  servico_orcamentoFieldsUI.init();
</script>

<script type="text/javascript">


function addAll() {
  var sum = 0.0;
  var inputs, index;  

  inputs = document.getElementsByTagName('input');
  
  for (index = 0; index < inputs.length; ++index) {    
    if(inputs[index].name.indexOf("[valor_total]") != -1){      
      
      var tr = $(inputs[index]).parents('tr');
      if ($(tr).attr("style") == 'display: none;'){
      
        cont = 0;        
      }
      else{        
        sum += +(inputs[index].value);
      }
      
    }
  }

  $('#total').val(sum);
  $('#total_bruto').val(sum);
  
   var total_pagar = $('INPUT#total').val();      
      if(total_pagar == "")    
        total_pagar = "0"  

      var desconto = $('INPUT#orcamento_desconto').val();      
      if(desconto == "")    
        desconto = "0"  
     
      $.get('/orcamentos/get_valor_desconto/' + total_pagar + '/' + desconto, function(data){
           $('#total').html(data).change();
        })
  
}

$("#addButtonServico").on("click", function() {
  addAll();
});



</script>