<table id="servico-orcamentos-display-table" class="table table-hover table-striped">
  <thead>
      <th>Produto</th>
      <th>Tipo Análise</th>
      <th>Parâmetro</th>
      <th>N° de Amostras</th> 
      <th>Valor Unitário</th> 
      <th>Valor Total</th> 
  </thead>
  <tbody>
      <% @orcamento.servico_orcamentos.each do |servico_orcamento| %>      
          <tr class="fields" >            
            <td><%= servico_orcamento.produto %></td>            
            <td><%= servico_orcamento.analise %></td>
            <td><%= servico_orcamento.parametro %></td>
            <td><%= servico_orcamento.qtd_amostra %></td>            
            <td><%= number_to_currency(servico_orcamento.valor_unitario, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %></td>  
            <td><%= number_to_currency(servico_orcamento.valor_total, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %></td>
            
          </tr>
      <% end %>
  </tbody>
</table>
