<br /><br /><br /><br />
<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @orcamento.numero %>
</p>

<p>
  <strong>Data:</strong>
  <%= @orcamento.data %>
</p>



<p>
  <strong>Pessoa Solicitante:</strong>
  <%= @orcamento.pessoa_solicitante %>
</p>

<p>
  <strong>Empresa Solicitante:</strong>
  <%= @orcamento.empresa_solicitante %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @orcamento.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @orcamento.email %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @orcamento.observacao %>
</p>

<br />

<% if ServicoOrcamento.exists?(:orcamento_id => @orcamento.id) %>
<fieldset>
  <%= render('servico_orcamentos_display') %>
</fieldset>
<% end %>
<br />

<p>
  <strong>Quantidade:</strong>
  <%= @orcamento.quantidade %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @orcamento.prazo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @orcamento.status %>
</p>

<p>
  <strong>IR:</strong>
  <%= number_to_currency(@orcamento.ir, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
</p>

<p>
  <strong>PIS:</strong>
  <%= number_to_currency(@orcamento.pis, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
</p>

<p>
  <strong>CSSL:</strong>
  <%= number_to_currency(@orcamento.cssl, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
</p>

<p>
  <strong>COFINS:</strong>
  <%= number_to_currency(@orcamento.cofins, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @orcamento.desconto %>%
</p>

<p>
  <strong>Pagamento:</strong>
  <%= @orcamento.pagamento %>
</p>

<div style="color:red">
  <p>
    <strong>Total a Pagar:</strong>
    R$ <%= number_to_currency(@orcamento.total_pagar, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
  </p>
</div>

<br /><br /><br />
<center><%= link_to "Gerar PDF", orcamento_path(@orcamento, :format => 'pdf'), :class => 'btn' %></center>
<br /><br /><br />

<%= link_to 'Editar', edit_orcamento_path(@orcamento), :class => 'btn btn-info' %>
<%= link_to 'Voltar', orcamentos_path, :class => 'btn btn-info' %>

<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>
