 <!-- Row start -->
 <div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          <span class="text-error">Orçamento</span>
        </div>
      </div>
      <div class="widget-body">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>
                <strong>Número:</strong>
              </td>
              <td>
                <%= @orcamento.numero %>
              </td>
            </tr>   
            <tr>
              <td>
                <strong>Data:</strong>
              </td>
              <td>
                <%= @orcamento.data %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Pessoa Solicitante:</strong>
              </td>
              <td>
                <%= @orcamento.pessoa_solicitante %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Empresa Solicitante:</strong>
              </td>
              <td>
                <%= @orcamento.empresa_solicitante %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Telefone:</strong>
              </td>
              <td>
                <%= @orcamento.telefone %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Email:</strong>
              </td>
              <td>
                <%= @orcamento.email %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Observação:</strong>
              </td>
              <td>
                <%= @orcamento.observacao %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Quantidade:</strong>
              </td>
              <td>
                <%= @orcamento.quantidade %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Prazo:</strong>
              </td>
              <td>
                <%= @orcamento.prazo %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Status:</strong>
              </td>
              <td>
                <%= @orcamento.status %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>IR:</strong>
              </td>
              <td>
                <%= number_to_currency(@orcamento.ir, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>PIS:</strong>
              </td>
              <td>
                <%= number_to_currency(@orcamento.pis, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>CSLL:</strong>
              </td>
              <td>
                <%= number_to_currency(@orcamento.cssl, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>COFINS:</strong>
              </td>
              <td>
                <%= number_to_currency(@orcamento.cofins, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Desconto:</strong>
              </td>
              <td>
                <%= @orcamento.desconto %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Pagamento:</strong>
              </td>
              <td>
                <%= @orcamento.pagamento %>
              </td>
            </tr>             
              <tr>
                <td style="color:red">
                  <strong>Total a Pagar:</strong>
                </td>
                <td style="color:red">
                  R$ <%= number_to_currency(@orcamento.total_pagar, :precision => 2, :unit => '', :separator => ',', :delimiter => '.') %>
                </td>
              </tr>             
          </tbody>
        </table>
      </div>
    </div>
  </div>    

</div>

<% if ServicoOrcamento.exists?(:orcamento_id => @orcamento.id) %>
    <fieldset>
       <div class="row">
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-header">
              <div class="title">
                <span class="text-error">Serviços do Orçamento</span>
              </div>
            </div>
            <div class="widget-body">
              <%= render('servico_orcamentos_display') %>
            </div>
          </div>
        </div>    
      </div>
    </fieldset>
  <% end %>
<%= link_to t('botoes.voltar'), "javascript:history.go(-1)", class: 'btn btn-info'%>
 <!-- Row end -->
