<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "erro") %>:</h2>

      <ul>      
      <% @usuario.errors.full_messages.each do |msg| %>        
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sobrenome %><br>
    <%= f.text_field :sobrenome %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha , placeholder: 'Senha'%>
  </div>
  <div class="field">
    <%= f.label "Confirmação" %><br>
    <%= f.password_field :confirmacao , placeholder: 'Confirmação'%>
  </div>

  <div class="field">
    <%= f.label "Permissão" %><br>    
    <%= f.radio_button(:permissao, "estagiario") %> Estagiário  
    <%= f.radio_button(:permissao, "tecnico") %> Técnico
    <%= f.radio_button(:permissao, "administrador") %> Administrador
  </div> 
  <br />
  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-info' %>
  </div>
<% end %>
