<legend>Usuários cadastrados</legend>
<table cellpadding="0" cellspacing="0" border="1" class="table-striped table-bordered" id="tabela" width="80%">
  <thead>
    <tr>
      <th width="25%" style="word-wrap:break-word;"><center>Nome</center></th>
      <th width="25%" style="word-wrap:break-word;"><center>Sobrenome</center></th>
      <th width="20%" style="word-wrap:break-word;"><center>Login</center></th>
      <th width="15%" style="word-wrap:break-word;"><center>Permissão</center></th>
      <th width="5%" style="word-wrap:break-word;"><center></center></th>
      <th width="5%" style="word-wrap:break-word;"><center></center></th>      
      <th width="5%" style="word-wrap:break-word;"><center></center></th>
    </tr>
  </thead>
  <tbody>   
    <% @usuarios.each do |usuario| %>
      <% if usuario.id != 1 %>
      <tr>
        <td width="25%" style="word-wrap:break-word;"><center><%= usuario.nome %></center></td>
        <td width="25%" style="word-wrap:break-word;"><center><%= usuario.sobrenome %></center></td>
        <td width="20%" style="word-wrap:break-word;"><center><%= usuario.login %></center></td>
        <td width="15%" style="word-wrap:break-word;"><center><%= usuario.permissao %></center></td>
        <td width="5%" style="word-wrap:break-word;"><center><%= link_to 'Detalhes', usuario, :class => 'btn btn-small'%></center></td>
        <td width="5%" style="word-wrap:break-word;"><center><%= link_to 'Editar', edit_usuario_path(usuario), :class => 'btn btn-small' %></center></td>
        <td width="5%" style="word-wrap:break-word;"><center><%= link_to 'Excluir', usuario, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'btn btn-small' %></center></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo usuário', new_usuario_path, :class => 'btn btn-info'%>
