 <!-- Row start -->
 <div class="row">
 	<div class="col-lg-6">
 		<div class="widget">
 			<div class="widget-header">
 				<div class="title">
 					<span class="text-error">Empresa</span>
 				</div>
 			</div>
 			<div class="widget-body">
 				<table class="table table-striped table-hover">
 					<tbody>
 						<tr>
 							<td>
 								<strong>Nome:</strong>
 							</td>
 							<td>
 								<%= @empresa.nome %>
 							</td>
 						</tr> 
 						<tr>
 							<td>
 								<strong>Endereço:</strong>
 							</td>
 							<td>
 								<%= @empresa.rua %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>Bairro:</strong>
 							</td>
 							<td>
 								<%= @empresa.bairro %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>Cidade:</strong>
 							</td>
 							<td>
 								<%= @empresa.cidade %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>UF:</strong>
 							</td>
 							<td>
 								<%= @empresa.UF %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>CEP:</strong>
 							</td>
 							<td>
 								<%= @empresa.CEP %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>CNPJ:</strong>
 							</td>
 							<td>
 								<%= @empresa.CNPJ %>
 							</td>
 						</tr>
 						<tr>
 							<td>
 								<strong>Telefone:</strong>
 							</td>
 							<td>
 								<%= @empresa.telefone %>
 							</td>
 						</tr>						
 					</tbody>
 				</table>
 			</div>
 		</div>
 	</div> 	

</div>
<%= link_to t('botoes.voltar'), "javascript:history.go(-1)", class: 'btn btn-info'%>
 <!-- Row end -->
