<br /><br /><br /><br />
<legend>Copiar amostra</legend>



<%= form_for (@amostra) , :url => {:action => "save"}  do |f| %>
  <% if @amostra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amostra.errors.count, "erro") %>:</h2>

      <ul>
      <% @amostra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :certificado %>
    <%= f.text_field :certificado %>
  </div>

  <div class="field">
    <%= f.label "Descrição do pedido" %>
    <%= f.text_area :descricao_pedido %>
  </div>

  <div class="field">
    <%= f.label :solicitante %>
    <%= collection_select(:amostra, :solicitante, Empresa.order('nome'), :nome, :nome) %>
  </div>

  <div class="field">
    <%= f.label :produto %>
    <%= collection_select(:amostra, :produto, Produto.order('tipo'), :tipo, :tipo) %>
  </div>

  <div class="field">
    <%= f.label :embalagem %>
    <%= collection_select(:amostra, :embalagem, Embalagem.order('tipo'), :tipo, :tipo) %>
  </div>

  <div class="field">
    <%= f.label "Data de fabricação" %>
    <%= f.text_field  :data_fabricacao %>
  </div>

  <div class="field">
    <%= f.label "Data de validade" %>
    <%= f.text_field  :data_validade %>
  </div>
  
  <div class="field">
    <%= f.label :lote %>
    <%= f.text_field :lote %>
  </div>

  <div class="field">
    <%= f.label "Conteúdo" %>
    <%= f.text_field :conteudo %>
  </div>

  <div class="field">
    <%= f.label "Descrição" %>
    <%= f.text_area :descricao %>
  </div>

  <div class="field">
    <%= f.label :marca %>
    <%= f.text_field :marca %>
  </div>

  <div class="field">
    <%= f.label :fabricante_id %>
    <%= collection_select(:amostra, :fabricante, Empresa.order('nome'), :nome, :nome) %>      
  </div>

  <div class="field">
    <%= f.label "Características organolépticas" %>
    <%= f.text_area :caracteristicas %>
  </div>

  <div class="field">
    <%= f.label "Data de entrada no laboratório" %>
    <%= f.date_select :data_entrada, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label "Data de entrega do certificado" %>
    <%= f.date_select :data_saida, :order => [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= f.label "Observações" %>
    <%= f.text_area :observacoes %>
  </div>

  <div class="field">
    <%= f.label "Responsável técnico" %>
    <%= collection_select(:amostra, :assinatura, Assinatura.order('nome'), :nome, :nome) %>
  </div>

  <div class="field">
    <%= f.label "Status" %>
    <%= collection_select(:amostra, :status, Status.all, :tipo, :tipo) %>
  </div>



<br><br>
<div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-info' %>
</div>



<% end %>




<%= link_to 'Detalhes', @amostra, :class => 'btn btn-info' %>
<%= link_to 'Voltar', amostras_path, :class => 'btn btn-info' %>


<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>