<script type="text/javascript">

  jQuery(function($) {  
    $("#filtro").on("change",function() {  
      var filtro = $('INPUT#filtro').val();               
      
      $.get('/amostras/get_filtro/' + filtro , function(data){             
               $("#tabelaAmostra").html(data);
            })
           

      return false;
    });
  });


</script>

<br /><br /><br /><br />
<legend>Amostras cadastradas</legend>

<table cellpadding="0" cellspacing="0" border="1" class="table table-striped table-bordered table-hover" id="tabelaAmostra" style="width:95%; margin-left:3%;">
  <thead>
    <tr>
      <th width="10%" style="word-wrap:break-word;"><center>Amostra</center></th>
      <th width="20%" style="word-wrap:break-word;"><center>Solicitante</center></th>
      <th width="20%" style="word-wrap:break-word;"><center>Produto</center></th>
      <th width="20%" style="word-wrap:break-word;"><center>Marca</center></th>
      <th width="10%" style="word-wrap:break-word;"><center>Status</center></th>
      <th width="15%" style="word-wrap:break-word;"><center></center></th>
      <th width="5%" style="word-wrap:break-word;"><center></center></th>
      <th width="5%" style="word-wrap:break-word;"><center></center></th>
      <% if user_is_administrador? %>
        <th width="5%" style="word-wrap:break-word;"><center></center></th>
      <% end %>
    </tr>
  </thead>

  <input type="text" id="filtro" placeholder="Filtro" style="margin-left: 80%;">
  <br />

  <tbody>
    <% @amostras.each_with_index do |amostra, i| %>
      <% @amostra = amostra %>
      <tr>
        <td style="word-wrap:break-word;"><center><%= amostra.certificado %></center></td>      
        <td style="word-wrap:break-word;"><center><%= amostra.solicitante %></center></td>      
        <td style="word-wrap:break-word;"><center><%= amostra.produto %></center></td>
        <td style="word-wrap:break-word;"><center><%= amostra.marca %></center></td>
        <% status = Status.find_by_tipo(amostra.status) %>        
	<% if  status.id == 1 %>
        	<td style="word-wrap:break-word;"><font color="green"><center><%=status.tipo%></font></center></td>
	<% end %>
	<% if  status.id == 2 %>
		<td style="word-wrap:break-word;"><font color="red"><center><%=status.tipo%></font></center></td>
	<% end %>
        <td style="word-wrap:break-word;"><center><%= link_to 'Copiar Dados', copy_amostra_path(amostra), :class => 'btn btn-small' %></center></td>
        <td style="word-wrap:break-word;"><center><%= link_to 'Detalhes', amostra, :class => 'btn btn-small' %></center></td>
        <td style="word-wrap:break-word;"><center><%= link_to 'Editar', edit_amostra_path(amostra), :class => 'btn btn-small' %></center></td>
        <% if user_is_administrador? %>
          <td style="word-wrap:break-word;"><center><%= link_to 'Excluir', amostra, method: :delete, :class => 'btn btn-small', data: { confirm: "Você realmente deseja excluir a amostra #{amostra.certificado}?" } %></center></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render partial: 'layouts/paginacao' %>

<%= link_to 'Nova Amostra', new_amostra_path, :class => 'btn btn-info' %>


<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>

