
<p id="notice"><%= notice %></p>

<p>
  <strong>Certificado:</strong>
  <%= @amostra.certificado %>
</p>

<p>
  <strong>Descrição do pedido:</strong>
  <%= @amostra.descricao_pedido %>
</p>

<p>
  <strong>Produto:</strong>  
  <%= @amostra.produto %>
</p>

<p>
  <strong>Embalagem:</strong>  
  <%= @amostra.embalagem %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @amostra.conteudo %> <%= @amostra.unidade %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @amostra.marca %>
</p>

<p>
  <strong>Fabricante:</strong>  
  <%= @amostra.fabricante %>  
</p>

<p>
  <strong>Data de fabricação:</strong>
  <%= @amostra.data_fabricacao %>
</p>

<p>
  <strong>Data de validade:</strong>
  <%= @amostra.data_validade %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @amostra.lote %>
</p>


<p>
  <strong>Descrição:</strong>
  <%= @amostra.descricao %>
</p>

<p>
  <strong>Solicitante:</strong>  
  <%= @amostra.solicitante %>
</p>

<p>
  <strong>Características organolépticas:</strong>
  <%= @amostra.caracteristicas %>
</p>

<p>
  <strong>Data de entrada no laboratório:</strong>
  <%= @amostra.data_entrada.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data de entrega do certificado:</strong>
  <%= @amostra.data_saida.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @amostra.observacoes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @amostra.status %>
</p>

<p>
  <strong>Responsável técnico:</strong>  
  <%= @amostra.assinatura %>
</p>


<% if ParametroResultado.exists?(:amostra_id => @amostra.id) %>
<fieldset>
  <%= render('parametro_resultados_display') %>
</fieldset>
<% end %>
<br /><br /><br />
<center><%= link_to "Gerar PDF", amostra_path(@amostra, :format => 'pdf'), :class => 'btn' %></center>
<br /><br /><br />
<%= link_to 'Editar', edit_amostra_path(@amostra), :class => 'btn btn-info' %>
<%= link_to 'Voltar', amostras_path, :class => 'btn btn-info' %>
