 <!-- Row start -->
 <div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          <span class="text-error">Amostra</span>
        </div>
      </div>
      <div class="widget-body">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>
                <strong>Certificado:</strong>
              </td>
              <td>
                <%= @amostra.certificado %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Descrição do pedido:</strong>
              </td>
              <td>
                <%= @amostra.descricao_pedido %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Produto:</strong>
              </td>
              <td>
                <%= @amostra.produto %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Embalagem:</strong>
              </td>
              <td>
                <%= @amostra.embalagem %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Conteúdo:</strong>
              </td>
              <td>
                <%= @amostra.conteudo %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Marca:</strong>
              </td>
              <td>
                <%= @amostra.marca %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Fabricante:</strong>
              </td>
              <td>
                <%= @amostra.fabricante %>
              </td>
            </tr>    
            <tr>
              <td>
                <strong>Data de fabricação:</strong>
              </td>
              <td>
                <%= @amostra.data_fabricacao %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Data de validade:</strong>
              </td>
              <td>
                <%= @amostra.data_validade %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Lote:</strong>
              </td>
              <td>
                <%= @amostra.lote %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Descrição:</strong>
              </td>
              <td>
                <%= @amostra.descricao %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Solicitante:</strong>
              </td>
              <td>
                <%= @amostra.solicitante %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Características organolépticas:</strong>
              </td>
              <td>
                <%= @amostra.caracteristicas %>
              </td>
            </tr>   
            <tr>
              <td>
                <strong>Data de entrada no laboratório:</strong>
              </td>
              <td>
                <%= @amostra.data_entrada.strftime("%d/%m/%Y") %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Data de entrega do certificado:</strong>
              </td>
              <td>
                <%= @amostra.data_saida.strftime("%d/%m/%Y") %>
              </td>
            </tr>  
            <tr>
              <td>
                <strong>Observações:</strong>
              </td>
              <td>
                <%= @amostra.observacoes %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Status:</strong>
              </td>
              <td>
                <%= @amostra.status %>
              </td>
            </tr> 
            <tr>
              <td>
                <strong>Responsável técnico:</strong>
              </td>
              <td>
                <%= @amostra.assinatura %>
              </td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>  

</div>

<% if ParametroResultado.exists?(:amostra_id => @amostra.id) %>
  <fieldset>
       <div class="row">
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-header">
              <div class="title">
                <span class="text-error">Resultados</span>
              </div>
            </div>
            <div class="widget-body">
              <%= render('parametro_resultados_display') %>
            </div>
          </div>
        </div>    
      </div>
    </fieldset>
<% end %>

<%= link_to t('botoes.voltar'), "javascript:history.go(-1)", class: 'btn btn-info'%>
 <!-- Row end -->
