<%= form_for(@parametro_resultado) do |f| %>
  <% if @parametro_resultado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parametro_resultado.errors.count, "error") %> prohibited this parametro_resultado from being saved:</h2>

      <ul>
      <% @parametro_resultado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :parametro_id %>
    <%= f.collection_select( :parametro_id, Parametro.all, :id, :nome) %>          
  </div>
  <div class="field">
    <%= f.label :resultado %>
    <%= f.text_field :resultado %>
  </div>
  <div class="field">
    <%= f.label "Conclusão" %>
    <%= f.text_field :conclusao %>
  </div>

  <%= f.hidden_field(:amostra_id, :class => "field") %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
